*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background:rgb(27,27,27);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image: url('demon.jpg');
}

.card-2{
    background-image: url('viper.jpg');
}

.card-3{
    background-image: url('durango.jpg');
}

.card h2{
padding: 10px;
}

.card{
    padding: 10px;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.card:hover{
    background-color:rgb(62, 62, 62) ;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}